html {}

body {
    font-family: 'Quicksand', 'arial', 'sans serif';
    max-width: 960px;
    margin: auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

h1 {
    font-family: 'Quicksand', 'arial';
    font-size: 46px;
    margin-top: 20px;
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

#welcome_container {}

#instructions {}

.info {
    font-size: 80px;
    margin: 0px 10px 0px 10px;
}

#random_number_container {
    color: #ff0000;
    width: 40%;
}

#random_number {
    color: #ff0000;
    float: left;
    font-weight: 500;
}

#bar_container {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#middle_bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #ffffff;
    padding: 10px;
}

#random_number_bar {
    height: 12px;
    background: #ff0000;
    width: 100%;
    border-radius: 10px;
}

#my_number_bar {
    height: 12px;
    background: #000000;
    border-radius: 10px;
}

#my_number {
    float: right;
    font-weight: 500;
}

#my_number_container {
    width: 40%;
}

#crystals_container {
    display: flex;
    flex-direction: row;
}

#win_loss_container {
    font-size:50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 40px 20px 40px;
    color: #6c6c6c;
    margin-top: 40px;
    font-weight: 500;
    
}

#wins_box {
    margin-right:55px;
    padding-left:40px;
}

#losses_box {
    margin-left:50px;

}

.crystal {
    display: inline-block;
    width: 25%;
    padding: 5%;
}

.red {
    color: red;
}

img {
    width: 100%;
}

.bold {
    font-weight: 800;
}
.exponent {
    font-size: 16px;
}
.center_contents {
    text-align: center;
}

#info_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 32px;
        margin-top: 20px;
        font-weight: 700;
    }
    .info {
        font-size: 50px;
        margin: 0px 10px 0px 10px;
    }
    #instructions {
        font-size: 14px;
    }
    #bar_container {
        width: 30%;
    }
    #my_number_container {
        width: 35%;
    }
    #random_number_container {
        width: 35%;
    }
}